<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Back Office</title>
    <link href="ressources/css/BackOffice.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-layout">
        <div class="title">
          <div class="title-text">
            Les entreprises
          </div>
        </div>
        <div class="layout-search">
          <label>Rechercher :</label>
          <div class="datalist-search">
            <select id="search-type" name="search-type">
              <option value="raisonSociale">Raison Sociale</option>
              <option value="address">Adresse</option>
              <option value="city">Ville</option>
              <option value="postalCode">Code Postal</option>
              <option value="country">Pays</option>
              <option value="tutorLastName">Nom du Tuteur</option>
              <option value="tutorFirstName">Prenom du Tuteur</option>
            </select>
            <input type="text" id="text_recherche"/>
          </div>
          <div class="layout-search">

        <div class="button-edit-company">
        <button  class="button" id="add">Ajouter une entreprise</button>
        <button class="button" id="delete">Supprimer une entreprise</button>
        <button class="button" id="edit">Modifier une entreprise</button>
      </div>
      <div class="users">
          {# SECTION Liste de l'entreprise #}

          <div class="entreprise-list">

            <div class="table-list-entreprises">
              <table>
              <tr>
                  <th>Raison Sociale</th>
                  <th>Adresse</th>
                  <th>Code Postal</th>
                  <th>Ville</th>
                  <th>Pays</th>

                  <th id="last">Option accepter</th>
              </tr>
              <tr>
                  {% for entreprise in entreprise %}
                  <tr>
                <td>{{ entreprise.ent_rs }}</td>
                <td>{{ entreprise.ent_adresse }}</td>
                <td>{{ entreprise.ent_cp }}</td>
                <td>{{ entreprise.ent_ville }}</td>
                <td>{{ entreprise.ent_pays }}</td>
                </tr>
                {% endfor %}

              </tr>
              </table>
             </div>
              <hr class="line">
              <div class="container-user">
                <div class="title-text">
                  Liste des utilisateurs
                </div>
              </div>
              <div class="layout-search">
          <label>Rechercher :</label>
          <div class="datalist-search">
            <select id="search-type" name="search-type">
              <option value="username">Nom d'utilisateur</option>
              <option value="role">role</option>
            </select>
            <input type="text" id="textRecherche" />
          </div>
            <div class="button-edit-company">
              <button  class="button" id="add">Ajouter un utilisateur</button>
              <button class="button" id="delete">Supprimer un utilisateur</button>
              <button class="button" id="edit">Modifier un utilisateur</button>
            </div>
          </div>
          <div class="tableau-user">
            <table>
              <tr>
                <th>Nom d'utilisateur</th>
                <th>Role</th>
              </tr>
              <tr>
                {% for user in user %}
                <tr>
                  <td>{{ user.uti_username }}</td>
                  
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
        <div class="Tuteurs">
          <div class="title-text">
            Liste des tuteurs
          </div>
          <div class="layout-search">
          <label>Rechercher :</label>
          <div class="datalist-search">
            <select id="search-type" name="search-type">
              <option value="lastName">Nom</option>
              <option value="firstName">Prenom</option>
            </select>
            <input type="text" id="text_recherche" />
          </div>
            <div class="button-edit-company">
              <button  class="button" id="add">Ajouter un tuteur</button>
              <button class="button" id="delete">Supprimer un tuteur</button>
              <button class="button" id="edit">Modifier un tuteur</button>
            </div>
          </div>
          <div class="tableau-user">
            <table>
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
              </tr>
              <tr>
                {% for personne in personne %}
                <tr>
                  <td>{{ personne.per_nom }}</td>
                  <td>{{ personne.per_prenom }}</td>
                  <td>{{ personne.per_mail }}</td>
                  <td>{{ personne.per_tel }}</td>
                </tr>
                {% endfor %}
            </table>
          </div>

  </body>
</html>
