<!DOCTYPE html>
  <html lang="fr">
    <head>
    <meta charset="UTF-8">
      <title>Bienvenue sur la liste des entreprises</title>
      <link href="ressources/css/Entreprise.css" rel="stylesheet">
    </head>

    <script src="ressources/js/goBack.js"></script>

    <body>
      <div class="main-layout">
        <div class="title">
          <div class="title-text">
            Liste des entreprises
          </div>
          </div>
          {# SECTION Liste de l'entreprise #}
         
            <div class="table-list-entreprises">
              <table>
              <tr>
                  <th>Raison Sociale</th>
                  <th>Adresse</th>
                  <th>Code Postal</th>
                  <th>Ville</th>
                  <th>Pays</th>
                  <th id="last">Option accepter</th>
              </tr>
                {% for entreprise in entreprise %}
                <tr>
                <td>{{ entreprise.ent_rs }}</td>
                <td>{{ entreprise.ent_adresse }}</td>
                <td>{{ entreprise.ent_cp }}</td>
                <td>{{ entreprise.ent_ville }}</td>
                <td>{{ entreprise.ent_pays }}</td>
                </tr>
                {% endfor %}
              </table>
          </div>
          <div class="form-entreprise-back-button">
            <input type="button" value="retour" id="back-button" onclick="goBack()">
          </div>
        </div>
    </body>
  </html>

