<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Liste des entreprises</title>
		<link href="ressources/css/Entreprise.css" rel="stylesheet">
		<link href="ressources/img/iconeCampus.ico" rel="shortcut icon">
	</head>
	<script src="https://kit.fontawesome.com/825b4a9861.js" crossorigin="anonymous"></script>
		<script src="ressources/js/goBack.js"></script>
	<body>
		<div class="main-layout">
			<header class="header">
				<div class="header-container">
					<div class="header-logo">
						<a href="{{path('accueil')}}"><img src="ressources/img/iconeCampus.ico" alt="logo Châtaigneraie"></a>
					</div>
					<div class="header-text right">
						<div class="header-text-role">
							Admin
						</div>
						<div class="header-text-name">
							Romain Duchnok
						</div>
					</div>					
				</div>
			</header>
			<div class="title">
				<div class="title-text">
					Liste des entreprises
				</div>
			</div>
			{# SECTION Liste de l'entreprise #}

			<div class="table-list-entreprises">
				<table>
					<tr>
						<th>Raison Sociale</th>
						<th>Adresse</th>
						<th>Code Postal</th>
						<th>Ville</th>
						<th>Pays</th>
						<th>Option acceptée</th>
					</tr>
					{% for entreprise in entreprise %}
						<tr>
							<td>{{ entreprise.ent_rs }}</td>
							<td>{{ entreprise.ent_adresse }}</td>
							<td>{{ entreprise.ent_cp }}</td>
							<td>{{ entreprise.ent_ville }}</td>
							<td>{{ entreprise.ent_pays }}</td>
							<td>{{ entreprise.Opt_Libelle}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="form-entreprise-back-button">
				<form method="post">
					<button value="Deconnexion" id="back-button" name="deconnectButton" type="submit">Deconnexion</button>
				</form>
			</div>
		</div>
	</body>
</html>
