<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Édution tuteur</title>
		<link href="ressources/css/Modification.css" rel="stylesheet">
		<link href="ressources/img/iconeCampus.ico" rel="shortcut icon">
	</head>
	<script src="ressources/js/goBack.js"></script>
	<body>
		{# REVIEW y a tout a review pour le coup #}
		<div class="main-layout">
			<div class="logo-container">
				<img src="ressources/img/logoCampus.png" alt="Logo La Châtaigneraie">
			</div>
			<div class="form-container">
				<form action="{{ path('backoffice') }}" method="POST">
					<div class="form-group">
						{% for tuteur in tuteur %}
							<label for="rs">Prénom :</label>
							<input type="text" id="prenom" name="prenom" value="{{ tuteur.per_nom }}">
							<label for="adresse">Nom :</label>
							<input type="text" id="nom" name="nom" value="{{ tuteur.per_nom }}">
							<label for="cp">Adresse E-Mail :</label>
							<input type="text" id="email" name="email" value="{{ tuteur.per_mail }}">
							<label for="ville">Téléphone :</label>
							<input type="text" id="tel" name="tel" value="{{ tuteur.per_tel }}">
							<label for="option">Année :</label>
							<input type="text" id="annee" name="annee" value="{{ tuteur.annee }}">
							<label for="option">Profil :</label>
							<select type="text" id="profil" name="profil">

							</select>
							<label for="option">Fonction :</label>
							<select type="text" id="fonction" name="fonction">

							</select>
						{% endfor %}
					</div>
					<button type="submit">Valider</button>
				</form>
				<div class="delete-entr-button">
					<form action="{{ path('backoffice')}}" method="POST">
						{% for tuteur in tuteur %}
							<button type="submit" name="deleteEntr" value="{{ tuteur.idEntr }}" id="deleteEntr">Supprimer le tuteur</button>
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
		<!-- formulaire de mofification de l'tuteur -->
		<div class="form-back-button">
			<button value="Retour" id="back-button" onclick="goBack()">Retour</button>
		</div>
	</body>
</html>
