<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Édution tuteur</title>
		<link href="ressources/css/Modification.css" rel="stylesheet">
		<link href="ressources/img/iconeCampus.ico" rel="shortcut icon">
	</head>
	<script src="ressources/js/goBack.js"></script>
	<body>
		<div class="main-layout">
			<div class="logo-container">
				<img src="ressources/img/logoCampus.png" alt="Logo La Châtaigneraie">
			</div>
			<div class="form-container">
				<form action="{{ path('backoffice') }}" method="POST">
					<div class="form-group">
						{% for tuteur in tuteur %}
							<input type="hidden" id="idTut" name="idTut" value="{{ tuteur.per_id }}">
							<label for="rs">Prénom :</label>
							<input type="text" id="prenom" name="prenom" value="{{ tuteur.per_prenom }}">
							<label for="adresse">Nom :</label>
							<input type="text" id="nom" name="nom" value="{{ tuteur.per_nom }}">
							<label for="cp">Adresse E-Mail :</label>
							<input type="text" id="email" name="email" value="{{ tuteur.per_mail }}">
							<label for="tel">Téléphone :</label>
							<input type="number" id="tel" name="tel" value="{{ tuteur.per_tel }}">
							<label for="option">Année :</label>
							<input type="text" id="annee" name="annee" value="{{ tuteur.annee }}">
							<label for="option">Profil :</label>
							<select type="text" id="profil" name="profil">
								<option required value="{{ tuteur.pro_id }}">{{ tuteur.pro_libelle }}</option>
								{# pour chaque profil dans profil, on crée une option #}
								{% for profil in profil %}
									<option value="{{ profil.id }}">{{ profil.pro_libelle }}</option>
								{% endfor %}
							</select>
							<label for="option">Fonction :</label>
							<select type="text" id="fonction" name="fonction">
								<option selected value="{{ tuteur.fon_id }}">{{ tuteur.fon_libelle }}</option>
								{% for fonction in fonction %}
									<option value="{{ fonction.id }}">{{ fonction.fon_libelle }}</option>
								{% endfor %}
							</select>
						{% endfor %}
					</div>
					<div class="form-group-button">	
					<button type="submit">Valider</button>
				</form>
				<div class="delete-entr-button">
					<form action="{{ path('backoffice')}}" method="POST">
						{# TODO gérer la suppression tuteur #}
						{% for tuteur in tuteur %}
							<button type="submit" name="deleteTut" value="{{ tuteur.per_id }}" id="deleteTut">Supprimer le tuteur</button>
						{% endfor %}
						</div>
					</form>
				</div>
			</div>
			<div class="form-back-button">
			<button value="Retour" id="back-button" onclick="goBack()">Retour</button>
		</div>
		</div>
		<!-- formulaire de mofification de l'tuteur -->
		
	</body>
</html>
